{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      },
      "@babel/polyfill"
    ]
  ],
  "plugins": ["@babel/transform-async-to-generator", "@babel/plugin-syntax-dynamic-import"]
}